{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Ícone do Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'global/css/campanha.css' %}">
  <title>System Sendpule Real</title>
</head>
<body>
  <header class="header-content">
    <nav class="nav-content">
      <!-- Ícone do menu hamburguer (visível em telas menores) -->
      <div class="hamburger-icon" id="hamburger-icon">
         <i class="bi bi-list"></i>
      </div>
      <!-- Container dos links de navegação -->
      <div class="nav-links-container" id="nav-links-container">
        <a href="{% url 'home' %}" class="nav-links">Home</a>
        <a href="" class="nav-links">E-mail</a>
        <a href="" class="nav-links">Whatsapp</a>
        <a href="" class="nav-links">SMS</a>
        <a href="{% url 'campanhas' %}" class="nav-links">Campanhas</a
        <a href="" class="nav-links">Option 5</a>
      </div>      
    </nav>
  </header>
  <main class="main-content">
    {% load django_browser_reload %}
    {% block content %}
    
    {% endblock content %}
    {% django_browser_reload_script %}
  </main>

  <!-- Script para alternar a exibição do menu -->
  <script>
    document.getElementById('hamburger-icon').addEventListener('click', function() {
      document.getElementById('nav-links-container').classList.toggle('active');
    });
  </script>
</body>
</html>
