{% extends "global/base.html" %}

{% block content %}
<div class="content-max">
    <div class="create-campaign">
        <h1 class="campaing-title">Criar campanha</h1>
        <a href="{% url 'home' %}">
            <div class="create-icon"><i class="bi bi-plus-lg"></i></div>
        </a>
    </div>
    <div class="list-campaign">
        {% if campaigns %}
            {% for camp in campaigns %}
            <div class="campaign">
                <div class="info-content">
                    <span class="p-campaign">{{ camp.name }} - {{ camp.dias|cut:"-" }} dias</span>
                    <span class="last-date">
                        Último envio: {{ camp.last_date|default:"Nunca enviado" }}
                    </span>
                </div>
                <div class="campaign-actions">
                    <!-- Link para editar a campanha -->
                    <a href="{% url 'home' %}?edit_campaign_id={{ camp.id }}" class="campaign-edit action">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a href="{% url 'delete_campaign' camp.id %}" class="campaign-delete action">
                        <i class="bi bi-trash3"></i>
                    </a>
                    <!-- Link para alternar status -->
                    <a href="{% url 'toggle_campaign_status' camp.id %}" class="campaign-status action">
                        {% if camp.status == "active" %}
                        <i class="bi bi-pause-fill"></i>
                        {% else %}
                        <i class="bi bi-play-fill"></i>
                        {% endif %}
                    </a>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>Nenhuma campanha criada.</p>
        {% endif %}
    </div>
</div>
{% endblock content %}
