{% extends "global/base.html" %}

{% block content %}
<div class="content-submit">
  <!-- Formulário para buscar clientes (GET) -->
  <div class="btn-selection">
    <form method="get" action="{% url 'home' %}">
      <div class="submit-content">
        <input class="input-name" type="text" name="name" value="" placeholder="Digite o nome da campanha">
        <input class="input-filter" type="number" name="dias" value="{{ dias }}" placeholder="Digite o número de dias">
        <button class="btn-buscar" type="submit">Buscar</button>
        <button class="btn-criar" type="submit" form="sendMessageForm">Criar</button>
      </div>
    </form>
  </div>
</div>

<!-- Formulário que contém o textarea (POST) -->
<form id="sendMessageForm" method="post" action="{% url 'home' %}">
  {% csrf_token %}
  <input type="hidden" name="dias" value="{{ dias }}">
  <textarea class="text-area" name="text-message" id="text-m" 
            placeholder="{{ placeholder }}" maxlength="160"></textarea>
</form>

<div class="table-container">
  <table class="table-client">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Nome</th>
        <th>Contato</th>
        <th>Contrato</th>
        <th>Vencimento</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for c in clientes %}
      <tr>
        <td>{{ c.codigo_cliente }}</td>
        <td>{{ c.nome_cliente }}</td>
        <td>{{ c.telefone }}</td>
        <td>{{ c.contrato }}</td>
        <td>{{ c.vencimento }}</td>
        <td class="del-content">
          <a href="{% url 'remove_cliente' c.codigo_cliente %}" class="btn-del">
            Excluir <i class="bi bi-trash"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
